<% @deposit.each do |d| %>
<tr>
    <td><%= d.created_at.strftime('%d-%b-%Y') %></td>
    <td><b><%= d.receipt_no %></b></td>
    <td><%= d.deposit_type %></td>
    <td><%= d.currency %> <%= number_to_currency(d.value, precision: 2, delimiter: ".", unit: "", separator: ",") %></td>
    <td><%= d.desc %></td>
    <% conf_msg = "Are you sure to delete data: " + d.receipt_no + "?" %>
    <td class="text-center"><%= link_to member_deposit_path(@member.id, d.id), method: :delete,
    class: 'btn btn-sm btn-danger', data: { confirm: conf_msg } do %> 
        <i class="fas fa-trash"></i>
    <% end %> </td>
</tr>
<% end %>