<nav class="navbar navbar-expand d-flex navbar-dark bg-custom-dark">
    <%= link_to home_index_path, class: "navbar-brand flex-row" do %><i class="fas fa-book" style="color: white;"></i><% end %>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item <%= is_active(home_index_path) %><%= is_active('/home') %>">
                <%= link_to  "Beranda", home_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item <%= is_active(members_path) %>">
                <%= link_to  "Data Umat", members_path, class: "nav-link" %>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse flex-row-reverse">
        <ul class="navbar-nav">
            <% if current_user %>
                <li class="nav-item">
                    <div class="nav-link" id="identity"><%= link_to edit_user_registration_path do %>Halo, <%= current_user.name %>!<% end %> </div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" id="signUp"><%= link_to  "Daftar Pengguna Baru", new_user_registration_path %></div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" id="signOut"><%= link_to  "Keluar", destroy_user_session_path, method: :delete %></div>
                </li>
            <% else %>
                <li class="nav-item">
                    <div class="nav-link" id="signIn"><%= link_to  "Masuk", new_user_session_path %></div>
                </li>
            <% end %>
        </ul>
    </div>
</nav>