<div class="row">
    <b>SEARCH PLACEHOLDER</b>
</div>
<div class="row">
    <%= link_to new_member_path, class: "btn btn-primary" do %> 
        <i class="fas fa-plus"></i> Tambah Data Umat
    <% end %>
</div>
<div class="row">
 <table class="table table-sm table-custom table-bordered" id="indexTable">
    <thead class="thead">
        <tr>
            <th scope="col" style="width: 2%" class="text-center">No.</th>
            <th scope="col" style="width: 40%">Nama</th>
            <th scope="col" style="width: 40%">Cetya</th>
        </tr>
    </thead>
    <tbody>
        <% counter = 0 %>
        <% if !@members.exists? %>
        <tr>
            <td colspan="4">Data umat tidak ditemukan.</td>
        </tr>
        <% else %>
            <% counter = 1 %>
            <% @members.each do |m| %>
                <tr>
                    <td class="text-center"><%= counter %></td>
                    <td><%= link_to member_path(m) do %><b><%= m.name %></b><% end %></td>
                    <td><%= m.cetya %></td>
                </tr>
                <% counter += 1 %>
            <% end %>
        <% end %>
    </tbody>
 </table>
</div>

